{% extends "zadanie.html" %}
{% block title %}Rozwiązywanie równań różniczkowych{% endblock %}
{% block nazwa %}Rozwiązywanie równań różniczkowych <br>{% endblock %}
{% block polecenie %}
<p>Narysuj pochodna funkcji {{f}} na przedziale od {{a}} do {{b}}. Użyj długości kroku = {{ krok }} i wzoru {{ p }} - punktowego. Następnie sprawdź,
czy wygląda ona tak, jak obliczona przez program. </p>
{% endblock %} 
{% load static %}


{% block poprawnosc %}{% endblock %} 

{% block visual %}

{% if odp %}
<img src="{%  static  'images/my-gif.png'  %}", class="plot"/>
{% endif %}  

{% endblock %}